<div class="likes">いいね：
<% if user_signed_in? && post.liked_by?(current_user)%>
  <%=link_to post_likes_path(post.id),  method: :delete, class: "post_likes" , remote: true do %>
  <i class="fa-solid fa-heart", style="color:pink;"></i>
  <% end %>
<% else %>
  <%=link_to post_likes_path(post.id), method: :post, class: "post_likes" , remote: true do %>
  <i class="fa-regular fa-heart", style="color:black;"></i>
  <% end %>
<% end %>
<p class ="likes_count"><%= post.likes.count %></p>
</div>