<%= render "shared/header" %>
<div class="post_new">
  <div class="post_new_main">
    <p class="post-new-title">New Post</p>
    <%= render partial: "form" %>
    <div class="post_new_btn">
    <%= link_to 'Topへ戻る', root_path, class: "back_btn" %>
  </div>
  </div>
</div>

<%= render "shared/footer" %>
    