/**セカンドヘッダー**/
.header_contents{
  background-image: url("/images/image9.jpg");
  background-size: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.subtitle {
  text-align: center;
}

.subtitle_main {
  font-family: 'Kaisei Decol', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: white;
}

.subtitle_second {
  font-family: 'Kaisei Decol', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 10px;
}

/**検索バー**/
.search-bar {
  text-align: center;
  height: auto;
  margin-top: 20px;
}

.top-input-box {
  width: 40vw;
  height: 30px;
  border-radius: 5px;
  border: solid 1px;
  text-align: center;
}

.top-search-send {
  width: 20vw;
  margin-top: 30px;
}

::placeholder {
  text-align: center;
}

/**投稿一覧**/
.posts_main {
  height: auto;
  background-color: #e6f0f0;
}

.posts_lists {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .posts_lists {
    grid-template-columns: 1fr;
  }
}

.post_list {
  text-align: center;
  margin: 20px 50px;
  padding: 20px 0;
  background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;
}

.post-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.post_list_text {
  width: 300px;  
  margin: auto;
  text-align: left;
}

.post_title {
  margin-top: 10px;
}

.post_category {
  margin-top: 10px;
}

.post_budget {
  margin-top: 10px;
}

.post_created_at {
  text-align: right;
  margin-top: 15px;
}