/**posts/editと兼用**/
.post_new {
  background-color: #bce5e7;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_new_main {
  margin: 20px;
}

.post_new_btn {
  text-align: center;
  margin-top: 30px;
}