/**詳細検索**/
.search-form-title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Kaisei HarunoUmi', serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: white;
}

.post-search-contents{
  background-image: url("/images/image9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} 

.search-form {
  padding: 50px 150px;
}

.search-field {
  margin-bottom: 30px;
}

.search-name {
  margin-bottom: 5px;
  font-size: 15px;
}

.search-title {
  width: 300px;
  height: 25px;
  font-size: 15px;
}

.checkbox {
  margin: 5px;
}

.search-send-button {
  text-align: center;
}

.search-send {
  width: 500px;
  margin: 50px 0 30px 0;
}

/**検索結果表示**/
.search_main {
  background-color: #e6f0f0;
  height: 100%;
}

.search-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 50px 0;
}

.search-result-list {
  text-align: center;
  padding: 20px 0;
  margin: 50px;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}

.posted-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.posted_list_text {
  width: 300px;
  margin: auto;
  text-align: left;
}

.posted_title {
  margin-top: 10px;
}

.posted_category {
  margin-top: 10px;
}

.posted_nickname {
  margin-top: 10px;
}



.posted_created_at {
  text-align: right;
  margin-top: 15px;
}

.back-top {
  text-align: center;
  font-size: 15px;
  padding: 20px 0 30px 0;
}