
.user_page {
  background-color: #bce5e7;
  min-width: 100vw;
}

.user_page_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.user_page_head {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  border-bottom: 2px dotted gray;
}

/**ユーザープロフィール**/
.user_profile {
  text-align: center;
  font-size: 15px;
}

.user_name {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
}

/**編集機能**/
.user_edit_button {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  margin: 20px auto;
  border: solid 2px gray;
  border-radius: 5px;
  background-color: rgb(230, 212, 172);
  font-size: 15px;
}


/**フォロー機能**/
.user_follow {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  margin: 20px auto;
  border: solid 2px gray;
  border-radius: 5px;
  background-color: rgb(230, 212, 172);
  font-size: 15px;
}

/**ユーザー投稿一覧**/
.user_page_row {
  padding-top: 50px;
  width: 80%;
  height: 100vh;
  text-align: center;
  margin: 50px 80px 50px 80px;
  background-color:rgba(255, 255, 255, 0.885);
	background-blend-mode:lighten;
}

.user_post_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.user_post__lists {
  text-align: center;
  margin-bottom: 20px;
  border-right: dotted 1.5px;
  border-left: dotted 1.5px;
  padding: 0%;
}

.user-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.user_post_title {
  margin-top: 15px;
  text-align: justify;
  padding: 0 50px;
}

.user_post_category {
  margin-top: 10px;
  text-align: justify;
  padding: 0 50px;
}

.user_post_created_at {
  text-align: right;
  margin-top: 15px;
  padding: 0 50px;
}

.return_top {
  padding: 30px 0;
}

a,a:visited {
  color: black;
}